transformers==4.22.2  # Huggingface Transformers，用於處理預訓練的 LLM 模型
datasets==2.5.1  # Huggingface Datasets，用於處理大規模數據集
faiss-cpu==1.7.2  # 用於高效的相似度檢索
torch==1.12.1  # PyTorch，用於處理神經網絡
sentence-transformers==2.2.2  # 用於文本嵌入的庫
numpy==1.23.3
pandas==1.5.0
